@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Ultra');

section>div:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@mixin animation($name, $time, $repeat) {
  -webkit-animation: $name $time $repeat;
     -moz-animation: $name $time $repeat;
          animation: $name $time $repeat;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

$light-cream: #F8EEDA;
$taffy:       #FF2C4B;
$deep-blue:   #232138;
$amber:       #F99820;

.highlight, li {
  color: $amber;
}
.emphasis { font-weight: 700; }

body {
  background-color: $deep-blue;
}

h1 {
  color: $light-cream;
  font-family: "Poppins";
  font-weight: 700;
}

p, ul {
  color: $light-cream;
  font-family: "Inconsolata";
}

header {
  position: relative;
  width: 700px;
  height: 350px;
  margin: 20px auto;
  clear: both;

  h1 {
    font-size: 100px;
    margin: 0px;
    text-shadow: 5px 10px $taffy;

    #firstName {
      position: absolute;
      top: 50px;
      z-index: 1;
    }

    #lastName {
      position: absolute;
      top: 175px;
      left: 150px;
      z-index: 1;
    }
  }
}

#console {
  padding: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 350px;
  height: 250px;
  z-index: 0;
  border: 1px solid $taffy;

  p {
    margin: 0px;
  }
}

.typed-cursor{
  color: $light-cream;
  opacity: 1;
  @include animation(blink, 0.7s, infinite);
}

@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

section {
  position: relative;
  border: 1px solid #FF2C4B;
  color: #F8EEDA;
  width: 600px;
  padding: 25px;

  h1 {
    position: absolute;
    font-size: 50px;
    text-shadow: 2px 4px #FF2C4B;
  }

  &#education {
    margin-left: 100px;

    h1 {
      left: -75px;
      top: 230px;
    }
  }

  &#work {
    margin-top: 75px;
    margin-left: 300px;

    h1 {
      left: 550px;
      top: 52px;
    }
  }

  &#skills {
    margin-top: 50px;
    margin-left: 500px;
    width: 250px;

    h1 {
      left: 200px;
    }
  }

  .left {
    font-family: "Inconsolata";
    text-align: right;
    width: 200px;
    float: left;
  }

  .right {
    font-family: "Inconsolata";
    float: right;
    width: 350px;
  }
}
